<% layout("/layouts/boiler") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h1>Create a new listing: </h1>
            <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input id="title" type="text" name="list[title]" placeholder="title" class="form-control" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter Title!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" name="list[description]" cols="20" rows="10" placeholder="description" class="form-control" required></textarea>
                    <div class="invalid-feedback">Description should be valid</div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input id="location" type="text" name="list[location]" placeholder="location" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input id="price" type="number" name="list[price]" placeholder="price" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input id="country" type="text" name="list[country]" placeholder="country" class="form-control" required>
                        <div class="invalid-feedback">Country should be valid</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input id="image" type="file" name="list[image]" placeholder="image link" class="form-control">
                </div>

                <br><br>
                <button class="btn btn-dark add-btn" type="submit">Add</button>
                <br><br>
            </form>
        </div>
    </div>
</body>
